@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
   margin: 0;
   padding: 0;
}

.homepage h1{
    color: green;
    margin-left: 10px;
    margin-bottom: 40px;
    margin-top: 20px;
    text-align: center;
}
.ting{
    border: 1px solid green;
    max-width: 500px;
    margin-left: 370px;
    margin-bottom: 20px;
    box-shadow:0 0 3px ;
    border-radius: 10px;
    padding: 10px;
    list-style: none;
}
.ting1{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    text-decoration: underline;
    margin: 10px;
    color:green;
}
.ting2{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 10px;
}
.lol{
    background-color: red;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    font-weight: 500;   
    font-style: normal;
    text-align: center;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius:10px;
    transition:0.5s ease;
}
.lol:hover{
    box-shadow: 10px 10px 0px rgb(9, 251, 9);
}