.container {
    position: relative;
   min-height:70vh;

}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.contents{
    width: 20px;
    display: flex;
    margin-top: 30px;
   margin-left: 43%;
}
.contents img{
    width:20px;
    margin-left: 20px;
    transition: transform 0.3s ease;
    display: block;
}
.contents img:hover{
    transform: scale(0.9);
}


 footer ul{
    display: flex;
    margin-left: 500px;
    margin-top: -190px;
}
footer ul li{
    margin-left: 40px;
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
footer ul li :hover{
    color: #279639;
} 

 