.header4{
height: 144px;
background-color:#279639;
color: #fff;
box-shadow: 0 0 3px gray;
}

nav{
    display: flex;
    padding:0 6%;
    justify-content: space-between;
    align-items: center;
}
.header4 img{
    width: 230px;
    top:20% ;
    left:50%;
    position: relative;
    transform:translate(-50%,-50%);
}
.nav-link{
    flex:1;
    padding: 0;
    text-align: center;
    margin-top: -230px;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding:8px 50px;
    position: relative;
    color: #fff;
    font-size:20px
}
.nav-link ul li a{
    color: #fff;
    text-decoration: none;
} 
.nav-link ul li a:hover{
    text-decoration: underline;
}

